<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kupac</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/profil.css}"/>
</head>
<body>
<h2 style="text-align:center">Kupac Profil</h2>
<div class="card">
    <img alt="User" src="/img/user.png"/>
    <h1 th:text="${kupac.ime}"></h1>
    <h1 th:text="${kupac.prezime}"></h1>
    <h1 th:text="${kupac.uloga}"></h1>
    <br>
</div>
<a id="employeeDisplayLink" th:href="${'/kupci'}" style="text-align: center;">Back</a>
<a id="employeeDisplayLink" th:href="${'/change/' + kupac.id}" style="text-align: center;">Promeni ulogu</a>
</body>
</html>
